@import "_normalize";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

.header{
  width: 100%;
  height: 640px;
  background: url(../images/header_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  .header-social{
    padding: 25px;
  }
  .header-logo {
    margin: 0 auto;
    display: block;
  }
  .header-text {
    text-align: center;
    border-bottom: 2px solid #fff;
    font-size: 53px;
    font-family: sans-serif;
    width: 60%;
    margin: 70px auto;
    padding-bottom: 30px;
    color: #fff;
  }

}

.facebook, .instagram, .twitter{
  display: inline-block;
  background: url('../images/sprite.png') no-repeat;

  text-indent: -9999px;
  text-align: left;
  margin: 11px;
}
.header-social_round{
  width: 40px;
  margin-right: 5px;
  display: inline-block;
  height: 40px;
  border-radius: 50%;
  background-color: #256299;
  &:nth-child(2){
    background-color: #378bb7;
  }
  &:nth-child(3){
    background-color: #246485;
  }
  .facebook {
    background-position: -12px -11px;
    width: 15px;
    height: 17px;
    margin-top: 12px;
  }
  .instagram {
    background-position: -12px -52px;
    width: 18px;
    height: 17px;
  }
  .twitter {
    background-position: -14px -93px;
    width: 15px;
    height: 17px;
    margin-left: 13px;
  }
}

.container-fluid {
  padding: 0 15%;
}
.about {
  margin: 80px 0 95px 0;
  .about-text {
    font-size: 30px;
  }
  .about-item {
    float: left;
    hr {
      height: 8px;
      background-color: #286191;
      width: 280px;
      border: none;
    }
    .about-h2 {

      color: #286191;
      font-size: 30px;
      text-align: left;
      max-width: 290px;
      margin-bottom: 250px;
      text-transform: uppercase;
    }
  }
}


.clients {
  width: 100%;
  height: 790px;
  background: url(../images/clients_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  .clients-title {
    text-align: center;
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 53px;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 90px auto;
    width: 360px;
    padding-top: 90px;
  }
  .container-flex {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;
    .clients-item {
      width: 224px;
      height: 224px;

      background-color: rgba(32,49,64,0.8);
      margin-bottom: 15px;
      .clients-item_logo {
        width: 224px;
        height: 224px;
        background: url(../images/logo_grand.png) no-repeat;
        background-size: contain;
        background-position: center;
      }
      &:nth-child(2){
        .clients-item_logo {
          background: url(../images/logo_kings.png) no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &:nth-child(3){
        .clients-item_logo {
          background: url(../images/logo_peldonrose.png) no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &:nth-child(4){
        .clients-item_logo {
          background: url(../images/logo_studio.png) no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &:nth-child(5){
        .clients-item_logo {
          background: url(../images/logo_barclays.png) no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &:nth-child(6){
        .clients-item_logo {
          background: url(../images/logo_ministry.png) no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &:nth-child(7){
        .clients-item_logo {
          background: url(../images/logo_freeview.png) no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
      &:nth-child(8){
        .clients-item_logo {
          background: url(../images/logo_sony.png) no-repeat;
          background-size: contain;
          background-position: center;
        }
      }
    }
  }
}
.contact {
  margin: 90px 0 60px 0;
  .contact-text {
    float: left;
    max-width: 625px;
    font-size: 27px;
    .contact-text_h3 {
      font-size: 52px;
      padding-bottom: 20px;
      border-bottom: 1px solid #000;
    }
    .contact-text_p {

    }
    .contact-text_phone {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      span {
        font-weight: 600;
      }
    }
  }
  .form-input {
    display: block;
    text-indent: 12px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 5px solid #c9d7e3;
    background-color: #f2f3f3;
    width: 335px;
    height: 50px;
    outline: none;
    &:nth-child(3) {
      height: 113px;
      padding-top: 17px;
    }
  }
  .form-btn {
    width: 335px;
    text-align: center;
    color: #fff;
    height: 50px;
    background-color: #286191;
    border: none;
    outline: none;
  }
}
.footer {
  width: 100%;
  background-color: #0d171f;
  height: 90px;
  .footer-text {
    float: left;
    color:#fff;
    &:nth-child(2){
      float: right;
    }
  }
}
